.gallery-container {
    padding: 35px;
    text-align: center;
    margin: 12px;
  }
  
 

 .gallery-titles p{
     font-size: 15px;
 }
 
 .gallery-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
  .gallery-item {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.1s ease;
  }
  
  .gallery-img {
    width: 150%;
    height: 100%;
    display: block;
    /* border: 2px solid black; */
 }

  
  .view-all-button {
    margin-top: 20px;
  }
  
  .view-all-button button {
    background-color: #060106;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-all-button button:hover {
    background-color: #4fe6f1;
    color: #060106;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .gallery-title {
      font-size: 1.5rem;
    }
  }
  